<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CA1 - Back-end Web Development</title>
</head>

<body>
  <h2>Class listing</h2>
  <table border='1'>
    <thead>
      <tr>
        <td>Class</td>
        <td>Personal</td>
        <td>Weekday</td>
        <td>Duration</td>
        <td>Room</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(details) { %>
      <tr>
        <td><%= details.Class%></td>
        <td><%= details.Personal%></td>
        <td><%= details.Weekday%></td>
        <td><%= details.Duration%></td>
        <td><%= details.Room%></td>
        <td><%= details.Price%></td>

        <td><a href="/edit/<%= details._id %>">Edit</a></td>
        <td><a href="/delete/<%= details._id %>">Del</a></td>
      </tr>
      <% })%>
    </tbody>

  </table><br>
  <hr>
  <button><a href="/">Add a new class(+)</a></button>
</body>

</html>